.header {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  margin: 0 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 45px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-itens {
  display: flex;
  align-items: center;
}

.nav-itens li a {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #FFF;
}

.nav-itens li:not(:last-child) {
  margin-right: 30px;
}

.nav-itens li a.active {
  font-weight: 700;
}