.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../assets/img/gerald.png") center no-repeat;
  background-size: contain;
  height: calc(100vh - 116px);
}

.botao {
  margin-top: 30px;
}

